@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
  }

  /* Just enforcing the sharp black and white */
  html {
    background-color: white;
    color: black;
  }
}